---
import { getProjects } from '@data/pocketbase'

const projects = await getProjects()
---

<aside class='text-white'>
  <div class='mb-6 rounded-lg bg-zinc-800'>
    <div
      class='rounded-lg bg-zinc-900 px-5 py-4 sm:py-2.5 text-xl sm:text-2xl md:text-3xl text-white uppercase text-center font-extrabold font-rounded'>
      <button
        aria-label='Hide sidebar'
        @click.prevent='showMenu = false'
        class='sm:hidden absolute flex justify-between float-left py-2 pl-2 -mt-1 text-white bg-blue-500 rounded-lg cursor-pointer'>
        <svg
          class='w-5 h-5 mr-2'
          fill='none'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          viewBox='0 0 24 24'
          stroke='currentColor'>
          <path d='M6 18L18 6M6 6l12 12'></path>
        </svg>
      </button>
      <a href='/app/dashboard'>SECRETPLAN</a>
    </div>
  </div>

  <div class='mb-6 rounded-lg bg-zinc-800'>
    <a
      href='/app/dashboard'
      class={'block bg-zinc-900 py-2 pl-2 cursor-pointer hover:bg-zinc-800 border-b border-zinc-800 uppercase border-t-zinc-400 font-black rounded-t-lg ' +
        (projects.length === 0 ? ' rounded-b-lg ' : '') +
        (Astro.url.pathname === '/app/dashboard' &&
          ' font-bold !bg-blue-800 ') +
        (Astro.params.project_id && ' !bg-white text-black border ')}>
      Your projects
    </a>

    <div>
      {
        projects.map((project, index) => {
          return (
            <a
              href={`/app/project/${project.id}`}
              class={
                'bg-zinc-900 py-2 pl-2 cursor-pointer hover:bg-zinc-800 border-b border-zinc-800' +
                (Astro.url.pathname === `/app/project/${project.id}`
                  ? ' font-bold !bg-blue-800'
                  : '') +
                (index === projects.length - 1 ? ' rounded-b-lg ' : '') +
                ' flex justify-between'
              }>
              <span>{project.name}</span>
              <span class='mr-2'>
                {Astro.url.pathname === `/app/project/${project.id}` && (
                  <span>▶︎</span>
                )}
              </span>
            </a>
          )
        })
      }
    </div>
  </div>
</aside>
