---
import LayoutSite from '@layouts/LayoutSite.astro'
import {
  isLoggedIn,
  isValidData,
  loginUser,
  setCookieAndRedirectToDashboard,
  processTurnstile,
} from '@lib/auth'

if (await isLoggedIn(Astro.request)) {
  return Astro.redirect('/app/dashboard')
}

let error = ''

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const email = formData.get('email') as string
  const password = formData.get('password') as string

  const is_valid_turnstile = await processTurnstile(
    formData.get('cf-turnstile-response')?.toString() || ''
  )

  if (!is_valid_turnstile) {
    error = 'Request not authorized'
  } else {
    if (isValidData(email, password)) {
      try {
        await loginUser(email, password)
        return setCookieAndRedirectToDashboard()
      } catch (e) {
        error = 'Could not login'
      }
    } else {
      error = 'Invalid data'
    }
  }
}
---

<LayoutSite title='SECRETPLAN'>
  <script
    is:inline
    src='https://challenges.cloudflare.com/turnstile/v0/api.js'
    defer
    async></script>
  <div class='w-full max-w-md mx-auto'>
    <a href='/'>
      <img
        src='/logo.svg'
        alt='Logo'
        class='h-16 mx-auto my-20 invert dark:invert-0'
      />
    </a>
  </div>

  <div class='mx-auto mt-10 text-white isolate gap-y-8 sm:mt-10 sm:mx-0'>
    <div
      class='flex flex-col justify-between max-w-md p-8 mx-auto bg-black border-4 rounded-3xl ring-1 ring-gray-200 xl:p-10 sm:mt-8'>
      <form method='post'>
        <p class='flex items-center justify-between mb-4'>
          <label for='email'>Email:</label>
          <input
            required
            type='email'
            name='email'
            id='email'
            class='w-2/3 p-1 text-black border'
          />
        </p>
        <p class='flex justify-between mb-4'>
          <label for='password'>Password:</label>
          <input
            required
            type='password'
            pattern='(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}'
            title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters'
            id='password'
            name='password'
            class='w-2/3 p-1 text-black border'
          />
        </p>
        <div
          class='cf-turnstile mt-6 flex justify-center'
          data-sitekey={import.meta.env.TURNSTILE_SITE_KEY ||
            process.env.TURNSTILE_SITE_KEY}>
        </div>
        <input
          type='submit'
          class='block w-full px-3 py-2 mt-8 text-sm font-semibold leading-6 text-center text-white rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 ring-1 ring-inset ring-blue-200 hover:ring-blue-300 hover:bg-blue-600'
          value='Login'
        />
      </form>

      <p class='mt-5 text-red-500'>
        {error}
      </p>
      <p class='mt-5 text-white'>
        Forgot password? <a href='/password-reset' class='underline'>Reset</a>
      </p>
      <p class='mt-5 text-white'>
        No account yet? <a href='/signup' class='underline'>Signup</a>
      </p>
    </div>
  </div>
</LayoutSite>
