---
import PocketBase from 'pocketbase';
const pb = new PocketBase('http://127.0.0.1:8090');
const projects = await pb.collection('projects').getFullList();
console.log(projects);
---

<ul>
    {projects.map(project => (
        <li>{project.name}</li>
    ))}
</ul>