@tailwind base;
@tailwind components;
@tailwind utilities;

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}

[x-cloak] {
  /* fix alpine js flicker on load */
  display: none;
}

.font-rounded {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}